.mugCap {
  height: 1.5rem;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: var(--green);
}

.mugCap::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: -5%;
  width: 110%;
  z-index: 10;
  border-top: 1px solid gray;
  height: .5rem;
  background-color: var(--green);
}

.mug {
  position: relative;
  top: -20px;
  width: 80px;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 10rem solid var(--prominent-pink);
}

.mug::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--prominent-pink);
}

.mugShadow {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: -10;
  content: "";
  width: 80px;
  height: 100%;
  box-shadow: -25px 25px 24px -6px rgb(5, 5, 5, 0.3);
}

.mugBg {
  background: transparent;
}

.circle {
  display: block;
  border-radius: 50%;
  height: 100%;
  width: 100%;

  /* background: radial-gradient(circle at 60% 30%, rgb(255, 193, 87), #1a1a1a 200%); */
  box-shadow: var(--desktop-shadow);
}
