.mugCap {
  height: 1.5rem;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: var(--green);
}

.mugCap::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: -5%;
  width: 110%;
  z-index: 10;
  border-top: 1px solid gray;
  height: 0.5rem;
  background-color: var(--green);
}

.mug {
  position: relative;
  top: -20px;
  width: 80px;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 10rem solid var(--prominent-pink);
  /* border-image: linear-gradient(
    90deg,
    rgba(166, 52, 101, 1) 0%,
    rgba(198, 72, 116, 1) 57%,
    rgba(166, 52, 101, 1) 100%
  ); */
}

.mug::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--prominent-pink);
}

.mugShadow {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: -10;
  content: "";
  width: 80px;
  height: 100%;
  box-shadow: -25px 25px 24px -6px rgb(5, 5, 5, 0.3);
}

.mugBg {
  background: transparent;
}

.circle {
  display: block;
  border-radius: 50%;
  height: 100%;
  width: 100%;

  /* background: radial-gradient(circle at 60% 30%, rgb(255, 193, 87), #1a1a1a 200%); */
  box-shadow: var(--desktop-shadow);
}

.languageCard {
  position: absolute;
  background-color: var(--yellow);
  box-shadow: var(--desktop-shadow);
  width: max-content;
}

.languageCard > div {
  box-shadow: var(--desktop-shadow);
}

.languageCard img {
  object-fit: contain;
  filter: drop-shadow(-4px 2px 8px #ccc);
}

.pot {
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 0;
  z-index: 10;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 4rem solid var(--prominent-pink);
  /* border-image: linear-gradient(
    90deg,
    rgba(166, 52, 101, 1) 0%,
    rgba(198, 72, 116, 1) 57%,
    rgba(166, 52, 101, 1) 100%
  ); */
}

.pot::after {
  content: "";
  position: absolute;
  z-index: 20;
  bottom: -10px;
  width: 63px;
  height: 10px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--prominent-pink);
}

.potCap {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 10;
  height: 4rem;
  width: 60px;
}

.potCap::after {
  position: absolute;
  content: "";
  z-index: 10;
  top: -85px;
  height: 20px;
  width: 100%;
  background-color: green;
}

.potCapRectangle {
  position: absolute;
  top: -105px;
  left: 0px;
  height: 0;
  width: 60px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid green;
}

.potCapTriangle {
  position: absolute;
  top: -125px;
  left: 25%;
  height: 0;
  width: 30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid green;
}

.potShadow {
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 5;
  content: "";
  width: 80px;
  height: 100px;
  box-shadow: -25px 25px 24px -6px rgb(5, 5, 5, 0.3);
}

/* .mouse{
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: yellow;
  transform: rotate(10deg);

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 40px;
} */
